:root{
	--primary-color : #ff8080;
	--sub-color : #ffc1c1;
	
}


.blank{
	height: 100px;
	
	
}
.textArea{
	height: 120px;
	width:100%;
}

.title{
	text-align: center;
	color : var(--primary-color);
}

.loginInfo{
	margin-bottom: 10px;
	
}

.findInfo li{
	float:left;
	margin-left:10px;
	list-style:none;
}

.findInfo li::before{
	content:"|";
	padding-right:10px;
}

.findInfo li:first-child::before{
	content:none;
}

.findInfo a{
	color: gray !important;
}

#loginBtn{
	margin-top: 10px;
}

#registerBtn{
	margin-top: 10px;
}

.btn.btn-primary{
	color:white;
	font-weight: bold;
}

.Item{
	color : var(--primary-color);
	font-size: 22px;
	font-weight: bold;
	margin-right: 50px;
	
}

#passwordCheckItem{
	margin-right: -24px!important;
}


.constraint{
	margin-left: 20px;
    margin-top: 6px;
}

.fail{
	display:none;
	color:red;
	
}

.success{
	display:none;
	color:green;
}

.registerBtn{
	margin-top: 50px;
}


.necessary::after{
	content:"*";
	padding-left	:10px;
	color : red;
}

.radio{
	margin-right : 10px;
	
}

