@media (min-width: 992px){
	div.mainBody{
    	height: 100vh;
    	min-height: 40rem;
    	padding-top: 4.5rem;
    	padding-bottom: 0;
	}
}
div.mainBody{
	height:calc(92vh);
	padding-top: 2rem;
    padding-bottom: calc(10rem - 4.5rem);
	background: url(/doday/Image/mainImg.png),linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 220, 220, 0.8) 100%);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment : local;
}
.banner-title{
	text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
	-moz-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
	-webkit-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
}
.slideCol{
	margin-top:10px;	
}
.slide-card{
	height:150px;
}
.slide-card>.card-content>.slide-card-img{
	width:100%;
	height:149.5px;
	
}
.banner-title{
	margin-top:20px;
}
.banner-content{
	padding-left:15px;
	padding-right:15px;
}
.banner-controls-bottom{
	background-color:#71717191
}
.banner-controls-bottom .btn-floating{
	color:white;
}
.banner-control-bottom-div{
	margin-top:-24.5px;
}

#simpleSearchText{
	float:left;
	width:96%!important;
}

.serachBtn{
	border: 0;
	width: 40px;
    height: 40px;
    background: url(/doday/Image/search.png) no-repeat;
    background-size: cover;
}
